<div class="container">
  <div class="row">
    <div class="col">
      <h2>注文情報入力</h2>
      <%= form_with url: order_path, method: :post do |f| %>
        <%= f.label %>
      <% end %>
    </div>
  </div>
</div>