/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin: 0;
    padding: 0;
}

.Floater{
    padding: 60px 0 80px 0;
    background-color: #fafafa;
}

.innerWrap{
    width: 980px;
    margin: 0 auto;
    position: relative;
}

ul{
    list-style: none;
    list-style-type: disc;
}

li{
    list-style: none;
}

.SelectBtn ul{
    margin-bottom: 80px;
    overflow: hidden;
}

.SelectBtn .ThradBtn ul li{
    margin-bottom: 70px;
    width: 275px;
    margin-right: 77px;
}

.SelectBtn li{
    float: left;
    width: 450px;
    margin: 0 80px 0 0;
}

.SelectBtn .FigureArea{
    position: relative;
}

.SelectBtn .ThradBtn ul li .FigureArea figure{
    width: 275px;
    height: 200px;
}

.SelectBtn .FigureArea figure{
    overflow: hidden;
    width: 450px;
    height: 300px;
}

.SelectBtn figure{
    opacity: 1;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

figure{
    display: block;
}

img{
    -webkit-transition: 1.4s ease-out;
    transition: transform 1.4s ease-out;
    border: none;
    width:100%;
    height: auto;
    vertical-align: bottom;
}

.SelectBtn .ThradBtn .citeArea{
    padding: 35px 20px;
}

.SelectBtn .citeArea{
    font-style: normal;
    background-color: #fff;
    padding: 40px 20px 70px 20px;
    position: relative;
}

.SelectBtn .citeArea span{
    display: inline-block;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.1em;
    font-size: 13px;
    border-bottom: 1px solid #a08a7a;
    transition: all 0.3s;
}