<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      
      <!-- ジャンル検索　部分テンプレート化 -->
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
          </tr>
          <% end %>
        </tbody>
        
      </table>
    </div>
      
      <div class="Floater">
        <div class="innerWrap">
          <nav class="SelectBtn ThradBtn">
            <ul>
              <% @items.each do |item| %>
              <li>
                <div class="FigureArea">
                  <figure class="attachment-page-thumbnails">
                    <%= link_to item_path(item) do %>
                    <p><%= image_tag item.item_image, format: "jpg",size: "400x250" %></p>
                    <% end %>
                  </figure>
                </div>
                <div class="citeArea">
                  <cite class="min">
                    <span><%= item.name %></span>
                  </cite>
                </div>
              </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
  </div>
</div>